* {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  margin:0px;
  padding:0px;
}
body {
  background-color: #FFFFFF;
  font-size: 14px;
}
header {
  background-color: #F44336;
  color: #fff;
  font-size: 18px;
  height: 56px;
  line-height: 56px;
}
header .fa-chevron-left {
  margin-right: 16px;
}
header , section {
  padding-left: 2rem;
}
.search, .result {
  padding: 1rem 2rem;
}
/*SECCIÓN DE BÚSQUEDA DE DISTRITO*/
.search {
  background-color: #F44336;
}
.search .get-district{
  padding: 1rem;
}
.search .get-district {
  background-color: #FFFFFF;
  display: flex;
}
.search span.fa-search{
  color: #545454;
  font-size: 1.5rem;
  min-width: 30px;
  width: 2.5%;
}
.search input {
  border: 0;
  font-size: 1rem;
  outline: 0;
  width: 97.5%;
}
/*SECCIÓN DE RESULTADOS DE BÚSQUEDA*/
.result .station {
  border-bottom: 1px solid #959595;
  padding: 1rem;
  position: relative;
}
.result .station .information,
.result .station a span {
  color: #545454;
}
.result .station a{
  position: absolute;
  right: 1rem;
  top: 1rem;
}
