* {
  margin:0px;
  padding:0px;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}
body {
  background-color: #FFFFFF;
}
header {
  color: #fff;
  font-size: 18px;
  height: 56px;
  line-height: 56px;
  padding-left: 16px;
  background-color: #F44336;
}
header .fa-chevron-left {
  margin-right: 16px;
}
/*SECCIÓN DE BÚSQUEDA DE DISTRITO*/
.search {

}
.search .get-district {
  text-align: center;
  background-color: #F44336;
}
.search .result .station {
  border: 1px solid gray;
}
